* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #333536;
}

header {
    color: white;
    background-color: #181919;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    padding: 25px;
    font-size: 40px;
    font-weight: lighter;
}

nav {
    background-color: #333536;
    padding-left: 10%;
    padding-right: 10%;
}

ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

li {
    background-color: #6D767C;
    border: solid 1px #A4AEB5;
    height: 50px;
    margin: 15px 5px 0px 5px;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    min-width: 300px;
}

li:hover {
    background-color: #A4AEB5;
    cursor: pointer;
    transition: all 0.5s;
}

a:link, a:visited, a:active {
    color: white;
    text-decoration: none;
}

main {
    padding-top: 15px;
    padding-left: 5%;
    padding-right: 5%;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 10px;
}

img {
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    color: white;
    background-color: #181919;
    height: 50px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: smaller;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}